<div class="content">
  <div class="item">
    <h1>Login</h1>

    <form action="/login" method="POST">
      <lu class="section">
        <strong>User Name:</strong>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
      </lu>

      <lu class="section">
        <strong>Password:</strong>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </lu>

      <ul class="controls">
        <button type="submit">Login</button>
      </ul>
    </form>
  </div>
</div>
