<script>
  topup();
</script>
<div class="content">
  <h1>Thank you, <%= firstName %> <%= lastName %></h1>

  <div class="item">
    <ul class="inner">
      <h1>We Will Respond Shortly</h1>
      <p>
        Contact Form Successfully Submitted, Your inquiry is important, and we
        will get back to you as soon as possible.
      </p>
      <p>
        We will contact you via your preferred method: <%= contactMethod %>.
      </p>
    </ul>
  </div>
</div>
