<script>
  document.addEventListener("DOMContentLoaded", function () {
    topup();
  });
</script>
<div class="content">
  <h1>
    <img src="img/doorbase.png" alt="Door Base" class="door-image" />
  </h1>

  <section class="item">
    <div class="inner">
      <h1>Premier Door Design and Installation Management</h1>
      <p>
        Our primary mission is to achieve the highest quality in managing the
        design and installation of doors and door parts. We are committed to
        meeting the most demanding scheduling requirements while delivering
        exceptional results. Our system is meticulously designed to ensure a
        transparent workflow, tracking every step from initial design through to
        installation completion.
      </p>
    </div>
  </section>
</div>
